@import "../../../styles/common.module";
@import "../../../styles/mixins.module";
@import "../../../styles/react-select.module";

.winnerCategory {
  display: none;
}

.winnersContainer {
  margin-bottom: 100px !important;
}

.categoryLabel {
  @include category-label;

  > h2 {
    color: #383739;
    white-space: normal;
  }

  > hr {
    color: #383739;
    background-color: #383739;
  }
}

.winners {
  display: flex;

  .selectedWinner {
    flex: 1;
    width: 100%;

    &:first-child {
      flex: 2;
      width: 100%;
    }
  }
}

.winnerContainer {
  display: flex;
  min-height: 300px;
  padding: 30px 35px 0 0;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.1s linear;

  > div:first-child {
    font-size: 28px;
    line-height: 1.57;
    text-align: left;
  }

  > div img {
    max-height: 50%;
    max-width: 90%;
  }

  .logo {
    height: 20vh;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  > div.company {
    > .companyName {
      font-family: Catamaran-Bold;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.38;
      text-align: left;
    }

    > .companyDescription {
      font-size: 16px;
      line-height: 1.31;
      text-align: left;
    }
  }

  .winnerWebsite {
    font-family: Catamaran-Bold;
    font-size: 16px;
    color: #0431ff;
    margin-top: 26px;

    &:hover {
      color: #383739;
      cursor: pointer;
    }
  }
}

.winnerMedal {
  color: #0431ff;
  font-family: Catamaran-Bold;
  font-size: 15px;
}

.winnerButtonWhite {
  margin: 92px;
  cursor: pointer;
  background-color: #ffffff;
  border: solid 2px #0431ff;
  font-size: 15px;
  align-self: center;
  font-family: Catamaran-Bold;
  line-height: 1.33;
  letter-spacing: -0.1px;
  text-align: left;
  color: #0431ff;
  padding: 20px;
  transition: 0.1s linear;

  &:hover {
    cursor: pointer;
    background-color: #0431ff;
    border: solid 2px #ffffff;
    color: #ffffff;
  }
}

@media screen and (max-width: $TABLET_WIDTH) {
  .winnerLabel {
    padding: 30px !important;
  }
}

@media screen and (max-width: $TABLET_WIDTH) {
  .topWinnersContainer {
    padding: 0;
  }

  .selectedWinner {
    flex: unset !important;
  }

  .winners {
    flex-wrap: wrap;
  }

  .winnerContainer {
    padding: 3% 0 !important;
  }
}