@import "../../../styles/common.module";
@import "../../../styles/mixins.module";

.dropdownsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 74px 7% 20px 8%;

  > *:first-child {
    margin-right: 20px;
  }
}

.winnerCategoryContainer {
  padding: 34px 7% 0 8%;

  .winners {
    display: flex;
    flex-wrap: wrap;
  }

  .winnerCategory {
    display: none;
  }
}

.categoryLabel {
  > h2 {
    color: #383739;
  }

  > hr {
    color: #383739;
    background-color: #383739;
  }

  @include category-label;
}

.selectedWinner {
  flex: 1;

  &:first-child {
    flex: 2;
  }
}

.winnerContainer {
  min-height: 353px;
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.1s linear;

  > div:first-child {
    font-size: 28px;
    line-height: 1.57;
    text-align: left;
  }

  > div img {
    min-height: 65px;
    max-height: 100px;
    margin-top: 46px;
    margin-bottom: 0 !important;
  }

  > div.company {
    > .companyName {
      font-family: Catamaran-Bold;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.38;
      text-align: left;
      margin-top: 46px;
    }

    > .companyDescription {
      font-size: 16px;
      line-height: 1.31;
      text-align: left;
    }
  }

  //&:hover {
  //  box-shadow: 0px 35px 98px 0 rgba(0, 0, 0, 0.4);
  //}

  .winnerWebsite {
    font-family: Catamaran-Bold;
    font-size: 16px;
    color: #0431ff;
    margin-top: 26px;

    &:hover {
      color: #383739;
      cursor: pointer;
    }
  }
}

.winnerMedal {
  color: #0431ff;
  font-family: Catamaran-Bold;
  font-size: 15px;
}

.winnerButtonWhite {
  margin: 92px;
  cursor: pointer;
  background-color: #ffffff;
  border: solid 2px #0431ff;
  font-size: 15px;
  align-self: center;
  font-family: Catamaran-Bold;
  line-height: 1.33;
  letter-spacing: -0.1px;
  text-align: left;
  color: #0431ff;
  padding: 20px;
  transition: 0.1s linear;

  &:hover {
    cursor: pointer;
    background-color: #0431ff;
    border: solid 2px #ffffff;
    color: #ffffff;
  }
}