@import "../../../styles/common.module";

.welcomeText {
  > h2 {
    margin-top: 88px;
    color: #1d1c1f;
  }
}

.actions {
  margin-top: 200px !important;
}

@media screen and (max-width: $TABLET_WIDTH) {
  .actions {
    margin-top: 30px !important;
  }
}