@import "./react-select.module";

$TABLET_WIDTH: 1024px;

.mainContainer {
  padding: 74px 7% 82px 8%;
}

@media screen and (max-width: 820px) {
  .mainContainer {
    padding: 0 0 0 30px !important;

    > .welcomeText {
      .title, .description, br {
        display: none;
      }

      .actions {
        margin: 0 !important;
      }
    }
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.dropdownsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 74px 7% 20px 8%;

  > *:first-child {
    margin-right: 20px;
  }
}