.welcome {
  width: 50%;

  > .title {
    margin-top: 170px;
    font-family: Catamaran;
    font-size: 44px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #0431ff;
  }

  > .description {
    font-family: Catamaran;
    font-size: 18px;
    line-height: 1.44;
    text-align: left;
    color: #1d1c1f;
  }
}

