@import "../../../styles/common.module";
@import "../../../styles/mixins.module";

.categoryLabel {
  margin-bottom: 60px !important;

  > h2 {
    color: #383739;
  }

  > hr {
    color: #383739;
    background-color: #383739;
  }

  @include category-label;
}

.pressItems {
  display: flex;
  flex-wrap: wrap;

  h4 {
    font-size: 16px;
    color: #383739;
  }

  hr {
    margin: 60px 0 !important;
    opacity: 0.2;
    background-color: #383739;
  }

  > div:last-child {

    > hr {
      display: none;
    }
  }
}

.pressContainer {
  display: flex;

  @media screen and (max-width: $TABLET_WIDTH) {
    & {
      flex-wrap: wrap;
    }
  }

  > div:first-child {
    flex: 1;

    @media screen and (max-width: $TABLET_WIDTH) {
      & {
        flex: auto;
        width: 100%;
        padding-bottom: 50px;
      }
    }
  }

  > .actions {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    flex: 1;

    @media screen and (max-width: $TABLET_WIDTH) {
      & {
        width: 100%;
        justify-content: space-around;

        > * {
          padding-left: 0 !important;
        }
      }
    }

    > div.pdfDownload, > div.shareActions {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: flex-start;
      justify-content: flex-end;
      padding-left: 50px;
      width: 40%;

      > * {
        padding-top: 29px;
      }

      > a {
        font-family: Catamaran-Bold;
        color: #0431ff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 90%;

        &:hover {
          color: #383739;
        }
      }
    }
  }

  .title {
    margin-top: 26px;
    font-family: Catamaran-Bold;
    font-size: 21px;
    line-height: 2.1;
    text-align: left;
    color: #0431ff;
  }

  .description {
    font-family: Catamaran;
    font-size: 18px;
    line-height: 1.44;
    text-align: left;
    color: #1d1c1f;
  }

}