@import "../../../styles/common.module";

.followingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-width: 400px;
  padding: 8%;
  min-height: 669px;

  img.logo {
    max-width: 190px;
  }

  h4 {
    color: #383739;
    padding-bottom: 27px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .subscription {
    display: flex;
    align-items: center;

    input {
      width: 80%;
      max-width: 343px;
    }

    button {
      cursor: pointer;
      display: flex;
      border: none;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      background-color: #0431ff;

      > img {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: $TABLET_WIDTH) {
  .followingContainer {
    width: 100%;
    padding-right: 20px;
  }
}