@font-face {
  font-family: Catamaran;
  src: url(../../assets/fonts/catamaran/Catamaran-Regular.ttf);
}

@font-face {
  font-family: Catamaran-Bold;
  src: url(../../assets/fonts/catamaran/Catamaran-Bold.ttf);
}

div, h1, h3, h4, h5, h6, hr, a, img, input, span {
  font-family: Catamaran;
  margin-bottom: 0 !important;
}

h2 {
  display: flex;
  font-family: Catamaran-Bold;
  font-size: 32px;
  line-height: 1.38;
  text-align: left;
  color: #ffffff;
}

h4 {
  font-size: 16px;
  line-height: 1.31;
  text-align: left;
  color: #ffffff;
}

input {
  height: 46px;
}

input, textarea {
  padding: 19px;
  background-color: #f4f4fb;
  border: none;
  font-family: Catamaran-Bold;
  font-size: 14px;
  line-height: 1.86;
  text-align: left;
  color: #0b35ff;

  &:focus {
    background-color: #ffffff;
    outline-style: none;
    border: solid 2px #0431ff;
  }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.86;
  text-align: left;
  color: rgba(56, 55, 57, 0.3);
}

input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  -webkit-text-fill-color: #0b35ff !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #0b35ff !important;
  -webkit-box-shadow: 0 0 0px 1000px #f4f4fb inset;
}

a {
  text-decoration: none;
  color: black;
}

.mobileNav {
  display: flex;
  flex-direction: column;
}

.menuContainerOpen {
  background-color: #ffffff !important;
}

.menuContainer {
  padding: 54px 7% 0 8%;
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  z-index: 100;
  width: 100%;

  .logoBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;

    > .menuBurger {
      cursor: pointer;
      max-width: 40px;
    }
  }

  .logo {
    width: 160px;
    padding-bottom: 70px;
  }

  .logoBlue {
    width: 190px;
    display: block;
  }

  .logoWhite {
    width: 160px;
    padding-bottom: 70px;
    display: none;
  }

  .menuBurger {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  a.active {
    color: #0431ff;
  }

  > .navTab {
    cursor: pointer;
    margin: 20px;
    opacity: 0.7;
    font-family: 'Catamaran-Bold';
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: -0.1px;
    text-align: left;
    color: rgba(29, 28, 31, 0.7);
    transition: 0.1s linear;

    &:hover {
      font-weight: bold;
      opacity: 1;
    }
  }
}

button.winner-button {
  background-color: blue;
}

@import "./mobile.module";